@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Tektur&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Tektur&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  background-image: url(/assets/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
}
/* .container header {
  width: 90%;
  margin: auto;
} */
.main {
  margin: auto;
  width: 90%;
  margin-top: 3rem;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.main img {
  width: 100%;
}

.header img {
  width: 30%;
  margin-top: 2rem;
}

.inner p {
  text-align: center;
}
.main button {
  width: 50%;
  height: 2rem;
  margin: auto;
  border: none;
  border-radius: 2rem;
}
.inner h3{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: bolder;
  
}
